// See: https://sass-lang.com/
// to override the bootstrap primary color
$primary: #6f42c1;
$secondary : white;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,

);

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
  background-color: #f4f1ec;
}

.navbar {
    z-index: 1030;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    color: white;
    padding-top: 0.2em;
    font-weight: 600;

  }

  .text-center {
    color: purple;
    font-size: 50px;
    font-weight: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    font-weight: bold 200;
    padding-bottom: 1.0em;
  }

  .cover-image{

    // background: url("/images/man.jpg") no-repeat;
    height: 500px;
    position: relative;
   text-align: center;
   display: flex;
   justify-content: center;
   width: 100%;

  }


.logo{
  width: 100px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5em;

}

.card {
  max-width: 18em;
  margin: 20px auto;

}

.card-img-top {
  height: 200px;
}
// Added by Gurpreet for owner_orders



.order_container {
  background-color: rgb(119, 200, 119);
  border: 5px  solid  rgb(6, 72, 2);
  width : 80%;
  height: 300px;
  position:center;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self:center;

}


.header1 {
  background-color: rgb(92, 92, 245);
  width:100%;
  height:22%;
  display:flex;
  justify-content: space-around;
  color:azure;
  box-sizing: border-box;
  border: 5px  solid  rgb(6, 72, 2);
}
.header1 h1 {
  width:100%;
  margin: 2px;
  font-size: 1.5rem;
  text-align: center;

}
.header1 div {
  width:100%;
  border: 5px  solid  rgb(6, 72, 2);
  box-sizing:content-box;
}


.details {
  background-color: rgb(110, 202, 110);
  display:flex;
  justify-content: space-between;
  width:100%;
  height:80%;
  border: 5px  solid  rgb(6, 72, 2);
  box-sizing: border-box;
}
.order_no {
  width:18%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order_details {
  width: 40%;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center ;
  align-self:center;
  height:90%;
  /* background-color: blue; */

}
.order_details h2{
  margin: 2px 2px;
}
h2 {
  text-align: center;
}
.order_caption {
  font-size: 3rem;
}
.order_readyby {
  width:20%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.form_ready {
  width:92%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form_picked {
  width:92%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.picked_at {
  width:20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_container input {
  width:90%;
}

.new {
  background-color: rgb(202, 143, 143);
}
.p-class{
  padding: 50px;
}

#cards {
  display: flex;
  flex-direction: row;

}

.text{
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: plum;
  color: white;
}
.contact-footer{
  margin-top: 30em;
  position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 700px

}
.name-text{
  color:  black;
  font-weight: bold;
  margin-top: 20px;
}

.fa-cookie-bite{
  margin-left: 10px;
  color: $primary;
}

.form-style{
  margin-top: 80px;
  margin-left: 80px;
  display: flex;
  justify-content: center;

}

.btn-primary{
  margin-top: 20px;
}
.form-control{
  background-color: gray;
}
.text-contact{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 150%;
}
.form-group{
  width: 1000px;
}

textarea{
  width: 300px;
  height: 150px;
}

.login-button {
  background-color: #bf40bf;
  color: whitesmoke;



}
.login-form {
  display: flex;
  justify-content: center;
  margin-top: 7em;
}
.login-footer{
    margin-top: 0.5em;
    width: 100%;
    min-width: 700px;
}

.order-table {
  width: 80%;
  align-content: center;
}

.order-section {
  display: flex;
  justify-content: center;
}
.table-items img {
  width:150px;
  height:150px;
  margin-top: 0.5em;
}
.place-order{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 4.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;

}
.place-order input {
  background-color: $primary;
  color: whitesmoke;
}
