// See: https://sass-lang.com/
// to override the bootstrap primary color
$primary: #6f42c1;
$secondary : white;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,

);

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
  background-color: #f4f1ec;

  h1 {
    color: #244751;
  }
  .navbar-nav{
    position: sticky;
    color: white;
    padding: 0 0.7em;
    font-weight: 600;
  }
  .cover-page{
    background: url("/images/11_Butter_tarts.jpg") no-repeat;
    color: transparent;
    background-size: cover;
    height: 50vh;
  }
  .title-container{
    position: absolute;
    display: flex;
    flex-direction: column;
 align-items: center;
    color: $primary;
  }
span {
    text-transform: capitalize;
    margin: 0;
    font-size: 3rem;
  }
.intro{
  display: flex;
  flex-direction: row;
}

}

