// See: https://sass-lang.com/
// to override the bootstrap primary color
$primary: #6f42c1;
$secondary : white;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,

);

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
  background-color: #f4f1ec;

  }
  .navbar-nav{
    position: fixed;
    color: white;
    padding: 0 0.7em;
    font-weight: 600;
    position: sticky;
  }

  .cover-page{
    background: url("/images/manda.jpg") no-repeat;
    height: 120px;
    position: relative;
   text-align: center;

  }
  .text-center {position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  }
.logo{
  width: 100px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(238, 158, 11);
}

.card {
  max-width: 18em;
  margin: 20px auto;
}
<<<<<<< HEAD
=======

.card-img-top {
  height: 200px;
}
>>>>>>> d42613a63b9e1ff8b9d48508f38b8b7cf6e8a43b
